
SET QUOTED_IDENTIFIER ON;
SET ANSI_NULLS ON;
SET NOCOUNT ON;
UPDATE Products SET Price = 6800000, UpdatedAt = SYSUTCDATETIME() WHERE Id = 4;
UPDATE Products SET Name = N'Sofa Nordic 3 chỗ' WHERE Id = 1;
UPDATE Products SET Name = N'Bàn trà Oak' WHERE Id = 2;
UPDATE Products SET Name = N'Kệ TV Walnut' WHERE Id = 4;
UPDATE Products SET Name = N'Đèn sàn Brass' WHERE Id = 5;
UPDATE Products SET Name = N'Giường Sleepwell 1m6' WHERE Id = 6;
UPDATE Users SET FullName = N'Nguyễn Văn An' WHERE Email = N'an@example.com';
UPDATE Users SET FullName = N'Trần Thị Bình' WHERE Email = N'binh@example.com';
UPDATE QuotationRequests SET Title = N'Báo giá phòng khách 20m2', Description = N'Sofa Nordic + Bàn trà Oak + Kệ TV Walnut', Reply = NULL WHERE Id = 1;
UPDATE QuotationRequests SET Title = N'Báo giá phòng ngủ tối giản', Description = N'Giường Sleepwell 1m6 + Đèn sàn Brass', Reply = N'Tổng 11.900.000 ₫ theo catalog hiện tại.' WHERE Id = 2;
UPDATE Quotations SET Title = N'Báo giá phòng khách 20m2', Notes = N'Sofa 12.5M + Bàn trà 3.2M + Kệ 6.8M = 22.5M' WHERE Id = 1;
UPDATE Quotations SET Title = N'Báo giá phòng ngủ tối giản', Notes = N'Giường 9.8M + Đèn 2.1M = 11.9M - da duyet' WHERE Id = 2;
SELECT Id, Title FROM QuotationRequests;
SELECT Id, Name, Price FROM Products WHERE Id IN (1,2,4,5,6);
SELECT Id, FullName FROM Users WHERE Email IN (N'an@example.com', N'binh@example.com');
